/* Reset */
body, h1, h2, h3, h4, h5, h6, p, ul, li, ol, form, small, label, cite, td, br {
	padding:0;
	margin:0;
  /*
	font-size:1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:normal;
	list-style:none;
  */
	border:none;
}
header, footer, nav, aside, article, section {
	display:block;
}
#info { 
  background: #1b0989 url(/img/chauncey.jpg) 50% 0 repeat fixed; 
  /*
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  min-height: 1020px;
  margin: 0 auto;
  overflow:hidden;
  width: 100%; 
  position: relative; 
  padding: 0;
  z-index:10;
}
.container {
  min-height: 500px;
  padding: 100px 10% 10% 10%;
}
#stuff { 
  background: url(/img/tweed.png) 50% 0 repeat fixed;
  margin: 0 auto; 
  max-width: 100%; 
  color: #fff;
}
#projects { 
  background: url(/img/python1.png) 50% 0 repeat fixed;
  margin: 0 auto; 
  max-width: 100%; 
  color: #000;
}
#projects small {
  color: #5e5e5e;
}
#stuff h1, #projects h1 {
  text-align: center;
  background-color:rgba(0,0,0,0.3);
}
#heading {
	text-indent:-99999px;
}
.rowspacing {
  margin-bottom: 20px;
}
h1 {
  padding: 1em;
}

@media screen and (max-width: 650px) {
  body { 
    font: 112.5%;
  }
  #info { 
    /*background: url(/img/top.png) 50% 0 fixed; min-height: 300px; */
    /*background: url(/img/chauncey_mobile.jpg) 50% 0 fixed; min-height: 300px; */
    background:#011309 url("/img/chauncey_mobile.jpg") repeat fixed center top !important;
    min-height: 457px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 0;
  }
  #heading {
    background-color:rgba(0,0,0,0.3);
    color: #fff;
    top: 50px; 
    text-align: center; 
    position: absolute;
    padding: 10px 0;
  }
  #heading h4 {
    color: #d0d0d0;
  }
  #heading {
    top: 150px;
    padding: 100px 0;
    text-indent: 0:
  }
}
    
