body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body { 
  font: 100%/1.5 sans-serif;
  color: #fff; /* 16px */
}

h1 {  
  font-size: 2em;
}
 
@media (min-width: 600px) {
  body { 
    font: 112.5%;
  }
  h1 {}
}

section {
	overflow-x: hidden; height: 993px;
}

#intro { 
	background: #c3c2c1 url(../img/top.png) left no-repeat; 
  background-size: cover;
}
	
#intro h1, #intro h4 {
  height: 261px;
  background-color:rgba(60,118,15,0.2);
}

#intro h1 {
  padding: 60px;
  font-size: 3em;
  left: 0;
  top: 145px;
  position: relative;
}

#intro h4 {
  top: 145px;
  position: absolute;
  font-size: 2em;
  left: 0;
  width: 100%;
  padding: 120px 60px 0px 60px;
}
	
#stuff{
	background: url(../img/tweed.png);
	position: relative;
  font-size: 1.5em;
}

#stuff h1 {
  position: relative;
  top: 87px;
  left: 90px;
  padding: 60px;
}
#stuff ul {
  left: 90px;
  padding: 60px;
  position: relative;
  top: 27px;
}
#stuff p {
  font-size: 0.5em;
}
	
#projects {
	background: #8eb1df url(../img/python1.png);
	position: relative;
  color: #000;
  padding: 60px;
}

#projects h2 {
  height: 228px;
  position: relative;
  top: 87px;
  left: 90px;
}

#projects p {
  position: relative; top: 145px; left: 90px;
  width: 300px;
  font-size: 0.5em;
}

